@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
}

button:hover {
	opacity: 0.9;
}

textarea {
	resize: none;
}
/* For WebKit (Chrome, Safari) */
textarea::-webkit-scrollbar {
	width: 10px; /* Set the width of the scrollbar */
}

textarea::-webkit-scrollbar-thumb {
	background-color: #001f3f; /* Color of the scrollbar thumb */
}

textarea::-webkit-scrollbar-track {
	background-color: #e5e5e5; /* Replace with the color you want */
}

/* For Firefox */
textarea {
	scrollbar-color: #001f3f#e5e5e5; /* Replace with the color you want */
}

.h90 {
	height: 90%;
}

.btn {
	border-radius: 2.4rem;
	font-weight: 400;
	letter-spacing: 0em;
	text-align: center;
}

.btnBorderColor {
	border: 1px solid #0a3871;
}

.span-icon {
	gap: 0.5rem;
}

.span-icon i {
	color: var(--color-msj);
	font-size: 1.4rem;
}

.text-icon {
	gap: var(--gap);
}

.text-icon i {
	font-size: var(--font);
	color: var(--color-icon);
}

/* pagina */

@keyframes toast {
	0%,
	100% {
		left: -100%;
	}

	15%,
	80% {
		left: 5%;
	}
}

@keyframes bar {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

.alert {
	animation: toast 4s forwards;
	position: fixed;
	left: -100%;
	top: 20rem;
	background-color: var(--text-white);
	box-shadow: 2px 2px 5px 1px #81818150;
	border-radius: 0.1rem;
	overflow: hidden;
	font-size: 0.9rem;
}

.alert-container {
	width: 100%;
	height: 100%;
	padding: 0.8rem 1rem;
	gap: 1rem;
}

.alert-container button {
	background-color: transparent;
	color: var(--text-grey);
	font-size: 1.5rem;
	padding: 0;
	border-radius: 0;
}

.alert-container button i {
	padding: 0;
}

.alert-container::after {
	position: absolute;
	content: "a";
	width: 0;
	height: 0.3rem;
	background-color: var(--color-msj);
	bottom: 0;
	left: 0;
	animation: bar 2s 1s both;
}
